body{
    background-color:#FFEBC9;
    background-size: cover;
}
.header{
    display: flex;
    justify-content: center;
}
h1,h3, label{
    font-family: 'Dancing Script', cursive;
    font-size: 60px; 
    color: #753422;
}
h2{
    font-family: 'Dancing Script', cursive;
    font-size: 50px; 
    color: #B05B3B;

}

.one{
    background-image: url(https://cdn.glitch.com/2f993e70-dba2-45fe-9508-ec8bbc222a60%2Fmargarita.jpg?v=1631302982102);
 
}
.two{
    background-image: url(https://cdn.glitch.com/2f993e70-dba2-45fe-9508-ec8bbc222a60%2Fmartini.jpg?v=1631302995937);
}
.three{
    background-image: url(https://cdn.glitch.com/2f993e70-dba2-45fe-9508-ec8bbc222a60%2FredWine.jpg?v=1631303021033);
}
.four{
    background-image: url(https://cdn.glitch.com/2f993e70-dba2-45fe-9508-ec8bbc222a60%2Fmojito.jpg?v=1631303001431);
}
.five{
    background-image: url(https://cdn.glitch.com/2f993e70-dba2-45fe-9508-ec8bbc222a60%2FpinaColada.jpg?v=1631303015765);
}
.six{
    background-image: url(https://cdn.glitch.com/2f993e70-dba2-45fe-9508-ec8bbc222a60%2FlongIslandIcedTea.jpg?v=1631302990566);
}
.seven{
    background-image: url(https://cdn.glitch.com/2f993e70-dba2-45fe-9508-ec8bbc222a60%2Fwhiskey.jpg?v=1631303025483);
}
.container{
    display:flex;
}
.item{
    background-size: cover;
    height:90vh;
    background-position: center;
    font-family: 'Dancing Script', cursive;
    flex:1;
    margin:5px;
    position: relative;
}
h4{
    position: absolute;
    color:#fff;
    left:40px;
    font-size: 30px;
    font-size: 0;
}
.par{
    position: absolute;
    left:20px;
    bottom: 40px;
    color:#fff;
    font-size: 25px;
    font-size: 0;
}
.selected{
    flex:5;
}
.selected h4{
    font-size: 50px;
    transition: all 1s ease-in;
}
.selected .par{
    font-size: 30px;
    transition: all 1s ease-in;
}
.text-input{
    background-color:#fff;
    border: none;
    padding:10px 20px;
}
.btn{
    background-color:#9c8374;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;

}

@media all and (max-width: 800px ) {
    h2{
        font-size:35px;
    }
}
@media all and (max-width: 500px ) {
    h2{
        font-size:22px;
    }
    h3{
        font-size:30px;
    }
    label{
        font-size:20px;
    }
    .text-input{
        padding:1px 2px;
    }
    .btn{
        font-size: 20px;
    }
    .selected.par{
        font-size:5px;
    }
    .selected h4{
        font-size:20px;
    }
}


@media all and (max-width: 800px ) {
    .container{
        display: flex;
        flex-direction: column;
        height:100vh;
    }
    h2{
        font-size:40px;
    }
}
@media all and (max-width: 500px ) {
    .container{
        display: flex;
        flex-direction: column;
        height:100vh;
    }
    h2{
        font-size:20px;
    }
    h3{
        font-size:25px;
    }
    label{
        font-size:20px;
    }
    .text-input{
        padding:1px 2px;
    }
    .btn{
        font-size: 20px;
    }
    .selected .par{
        font-size:20px;
    }
    .selected h4{
        font-size:25px;
    }
}