.box{
    display:flex;
    justify-content: center;
    align-self: center;

}
#picture{
    width:500px
    
}
.btn{
    background-color:#8FC1D4;
    border:none;
    font-family: 'Caveat', cursive;
    font-size: 30px;

}
body{
    background-color: #E2C2B9;
}

@media all and ( max-width: 780px ) {
    .box{
        height:100vh;
    }
    #picture{
        width:580px;
    }
}
@media all and ( max-width: 500px ) {
    .box{
        height:100vh;
    }
    #picture{
        width:255px;
    } 
    .btn{
        font-size: 15px;
    }
    
}